<!-- display from layouts -->
<%- include('layouts/head'); -%>
<body>
    <header>
        <div id="heading">
            <h1>Blogger Head</h1>
            <h3>Keep Blogging...</h3>
        </div>
        <nav>
            <!-- <a href="/">Blogs</a>    -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Blogs</a>
                <div class="dropdown-content">
                    <a href="/">All</a>
                    <%for(var each of data.blogs){%>
                        <a href="/singleBlog/<%= each._id %>"><%= each.blogslug %></a>
                    <%}%>
                </div>
            </li>
            <a href="/login">Admin</a>
        </nav>
    </header>
    <main>
        <div class="main_body">
            <div class="blogs">
                <%for(var each of data.blogs){%>
                    <div class="blog">
                        <div class="blogArea">
                            <h2 class="title"><%= each.blogtitle %></h2>
                            <div>
                                <img class="homeImages" src='/blog_images/<%= each.blogimage %>'/>
                            </div>
                            <div>
                                <textarea><%= each.blogbody %></textarea>
                            </div>
                        </div>
                        <div class="blogButtons">
                            <input type="submit" onclick="location.href='/singleBlog/<%= each._id %>';" value="View" />
                            <% if (data.isLoggedIn){ %>
                                <input type="submit" onclick="location.href='/edit/<%= each._id %>';" value="Edit" />
                                <input type="submit" onclick="location.href='/delete/<%= each._id %>';" value="Delete" />
                            <%}%>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
    </main>
    <script>
        tinymce.init({
            readonly : 1,
            browser_spellcheck: false,
            branding: false,
            elementpath: false,
            menubar: false,
            toolbar: false,
            resize: false,
            statusbar: false,
            width: 900,
            height: 150,
            skin: "oxide-dark",
            content_css: "dark",
            selector: 'textarea',
            tinycomments_mode: 'embedded',
        });
    </script>
</body>
<%- include('layouts/footer'); -%>
</html>